<div id="navigation">
  <ul>
    <li class=""><a href="index.html">Welcome</a></li>
    <li class="dropdown">
      <a href="about.html" class="dropbtn">About Us</a>
      <div class="dropdown-content">
        <a href="board.html">Meet the Board (Updates Pending)</a>
        <a href="news.html">News</a>
        <a href="newsletter.html">Newsletter</a>
      </div>
    </li>
    <li class="dropdown">
      <a href="#" class="dropbtn">Support Us</a>
      <div class="dropdown-content">
        <a href="donate.html">Donate</a>
        <a href="itemneeds.html">Item Needs</a>
        <a href="volunteer.html">Volunteer</a>
      </div>
    </li>
    <li class=""><a href="calendar.html">Calendar</a></li>
    <li class=""><a href="contact.html">Contact</a></li>
    <li><a href="https://herhousematernityhome.blogspot.com/">Blog</a></li>
  </ul>
</div>
